.homeCom2Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.home {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.progressCom2Icon,
.settingsCom2Icon {
  position: relative;
  width: 28.9px;
  height: 30px;
  cursor: pointer;
}
.settingsCom2Icon {
  width: 31.3px;
  height: 32.7px;
}
.bottombar {
  position: absolute;
  top: 711.3px;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 392px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--black);
  font-family: var(--body-1);
}
