.a,
.b1 {
  letter-spacing: 0.2em;
  display: inline-block;
  width: 57px;
  height: 50px;
}
.a {
  position: relative;
  flex-shrink: 0;
}
.b1 {
  position: absolute;
  top: 0;
  left: 0;
}
.barbellBenchChild {
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-slategray);
  border: 5px solid var(--black);
  box-sizing: border-box;
  width: 382px;
  height: 141px;
}
.barbellBenchIcon {
  position: absolute;
  top: 10px;
  left: 12px;
  border-radius: var(--br-xl);
  width: 123px;
  height: 110px;
  object-fit: cover;
}
.edit2 {
  margin: 0;
}
.edit1 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 43px;
  height: 31px;
  flex-shrink: 0;
}
.edit {
  position: absolute;
  top: 77px;
  left: 147px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dodgerblue);
  width: 100px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
}
.view1 {
  position: relative;
  font-weight: 300;
}
.view {
  position: absolute;
  top: 77px;
  left: 259px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dodgerblue);
  width: 100px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
}
.mdigarbageCanOutlineIcon {
  position: absolute;
  top: 3px;
  left: 330px;
  border-radius: var(--br-xl);
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.barbellBench {
  position: absolute;
  top: 48px;
  left: -20px;
  width: 372px;
  height: 131px;
  font-size: var(--font-size-3xl);
}
.b {
  position: relative;
  width: 135px;
  height: 179px;
}
.crunches {
  position: absolute;
  top: 10px;
  left: 147px;
  display: inline-block;
  width: 149px;
  height: 30px;
}
.barbellBench2 {
  position: absolute;
  top: 46px;
  left: -21px;
  width: 372px;
  height: 131px;
  font-size: var(--font-size-3xl);
}
.c {
  position: relative;
  width: 57px;
  height: 223px;
}
.letters {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--body-1);
}
