.bxx {
  position: absolute;
  top: 612px;
  left: 89px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.homeIcon {
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.home,
.homeIcon {
  position: relative;
}
.homeItem {
  flex: 1;
  background-color: var(--white);
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 18px;
  flex-shrink: 0;
}
.progressItem {
  cursor: pointer;
}
.communityItem,
.progressItem {
  flex: 1;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings,
.settingsIcon {
  position: relative;
  flex-shrink: 0;
}
.settingsIcon {
  width: 35.7px;
  height: 37.3px;
  overflow: hidden;
}
.settings {
  display: inline-block;
  width: 56px;
  height: 15px;
}
.navigationBar {
  position: absolute;
  top: 776px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 393px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--body-1-size);
  color: var(--black);
}
.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.exercisesChild {
  position: absolute;
  top: calc(50% - 0px);
  left: 0;
}
.backCom2Icon {
  position: absolute;
  top: 47px;
  left: 15px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.exerciseNameWrapper {
  top: 147px;
  left: 44px;
  justify-content: center;
}
.descriptionWrapper,
.exerciseNameWrapper,
.uploadMediaWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) 0;
}
.descriptionWrapper {
  top: 238px;
  left: 43px;
  width: 120px;
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: var(--input-field-label);
}
.uploadMediaWrapper {
  top: 0;
  left: 0;
  justify-content: center;
}
.materialSymbolsuploadIcon {
  position: absolute;
  top: 7px;
  left: 152px;
  border-radius: var(--br-xl);
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.upload {
  position: absolute;
  top: 490px;
  left: 44px;
  width: 184px;
  height: 46px;
  font-family: var(--input-field-label);
}
.saveChangesWrapper,
.tags {
  position: absolute;
  left: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
}
.saveChangesWrapper {
  top: 690px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 172px;
  height: 66px;
  box-sizing: border-box;
  cursor: pointer;
}
.tags {
  top: 554px;
  gap: var(--gap-21xl);
}
.vectorIcon {
  position: relative;
  width: 11.3px;
  height: 11.3px;
}
.chestTag {
  position: absolute;
  top: 612px;
  left: 47px;
  border-radius: var(--br-xl);
  background-color: var(--color-slategray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-8xs)
    var(--padding-8xs);
  gap: var(--gap-sm);
  font-size: var(--body-1-size);
  font-family: var(--input-field-label);
}
.exercises {
  position: absolute;
  top: 86px;
  left: 523px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--white);
  font-family: var(--body-1);
}
