.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblackIcon {
  position: absolute;
  top: 24.4px;
  left: 1px;
  width: 393px;
  height: 46.6px;
  overflow: hidden;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.logLastSet {
  position: relative;
  font-weight: 900;
}
.logLastSetButton,
.logLastSetButton1 {
  position: absolute;
  top: 89px;
  left: 2px;
  border-radius: var(--br-10xs);
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 196px;
  height: 134px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.logLastSetButton1 {
  left: 198px;
}
.backCom2Icon {
  position: absolute;
  top: 47px;
  left: 10px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.progressChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkslategray);
  width: 394px;
  height: 323px;
}
.progressBox,
.progressBoxChild {
  position: absolute;
  width: 360px;
  height: 261px;
}
.progressBoxChild {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-slategray-100);
}
.progressBox {
  top: 42px;
  left: 17px;
}
.image10Icon,
.progress1 {
  position: absolute;
  top: 9px;
  left: 19px;
}
.image10Icon {
  top: 80px;
  left: 44px;
  width: 307px;
  height: 185px;
  object-fit: cover;
}
.progress {
  position: absolute;
  top: 465px;
  left: 0;
  width: 394px;
  height: 323px;
}
.socialAreaChild,
.socialAreaItem {
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkslategray);
  width: 393px;
  height: 244px;
}
.socialAreaItem {
  top: 63px;
  left: 16px;
  border-radius: var(--br-8xs);
  background-color: var(--color-slategray-100);
  width: 360px;
  height: 193px;
}
.profilePicIcon {
  position: absolute;
  height: 15.99%;
  width: 12.98%;
  top: 22.79%;
  right: 81.68%;
  bottom: 61.22%;
  left: 5.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.latest1 {
  position: relative;
}
.latest {
  position: absolute;
  top: 25px;
  left: 8px;
  width: 76px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.hit225lbsOn,
.socialAreaInner {
  position: absolute;
  top: 109px;
  left: 52px;
  height: 34px;
}
.hit225lbsOn {
  top: 132px;
  left: 21px;
  font-size: var(--community-size);
  font-weight: 300;
  display: inline-block;
  width: 174px;
  height: 16px;
}
.minAgo {
  position: relative;
  font-weight: 300;
}
.minAgoWrapper,
.user1234Wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.minAgoWrapper {
  top: 91px;
  left: 83px;
  width: 60px;
  height: 34px;
  font-size: var(--community-size);
}
.user1234Wrapper {
  top: 71px;
  left: 72px;
  height: 31px;
}
.likeeIcon {
  position: absolute;
  height: 6.46%;
  width: 5.34%;
  top: 78.57%;
  right: 47.33%;
  bottom: 14.97%;
  left: 47.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.like,
.lineIcon {
  position: absolute;
  top: 223.1px;
  left: 16px;
  width: 360px;
  height: 1.9px;
}
.like {
  top: 202px;
  left: 21px;
  font-size: var(--body-1-size);
  font-weight: 300;
  color: var(--color-lightgray-100);
  display: inline-block;
  width: 111px;
  height: 15px;
}
.socialArea {
  position: absolute;
  top: 198px;
  left: 1px;
  width: 393px;
  height: 294px;
}
.homeIcon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.homeItemselected3 {
  background-color: var(--black);
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.workoutItemselected3 {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
}
.vectorIcon1 {
  position: relative;
  width: 28.9px;
  height: 30px;
  cursor: pointer;
}
.vectorIcon2,
.vectorIcon3 {
  position: relative;
  width: 30px;
  height: 30px;
}
.vectorIcon3 {
  width: 31.3px;
  height: 32.7px;
  cursor: pointer;
}
.bottombar,
.homeScreen {
  position: absolute;
  box-sizing: border-box;
  width: 393px;
}
.bottombar {
  top: 783px;
  left: 0;
  background-color: var(--white);
  box-shadow: var(--shadow);
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-base);
}
.homeScreen {
  top: 86px;
  left: 524px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--body-1);
}
