.fullName {
  position: relative;
}
.fullNameWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-10xs) 0;
}
.fullNameInput {
  position: absolute;
  top: 206px;
  left: 47px;
  width: 200px;
  height: 72px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--body-1);
}
