.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.logWorkouts {
  position: relative;
  font-weight: 900;
}
.logLastSetButton {
  position: absolute;
  top: 47px;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-slategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 392px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xl);
}
.vectorIcon {
  position: relative;
  width: 28.9px;
  height: 30px;
  cursor: pointer;
}
.vectorIcon1,
.vectorIcon2 {
  position: relative;
  width: 30px;
  height: 30px;
}
.vectorIcon2 {
  width: 31.3px;
  height: 32.7px;
  cursor: pointer;
}
.bottombar {
  position: absolute;
  top: 783px;
  left: 0;
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 393px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.chest {
  position: relative;
}
.button,
.button1,
.button2 {
  position: absolute;
  top: 291px;
  left: 132px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl);
}
.button1,
.button2 {
  top: 414px;
  left: 126px;
}
.button2 {
  top: 537px;
  left: 140px;
}
.b {
  position: relative;
  letter-spacing: 0.2em;
}
.button3 {
  position: absolute;
  top: 668px;
  left: 96px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 207px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl);
  box-sizing: border-box;
}
.selectAWorkout {
  position: absolute;
  top: 156px;
  left: 51px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 324px;
  height: 41px;
}
.homeScreen {
  position: absolute;
  top: 86px;
  left: 524px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--body-1);
}
