.newPassword1 {
  position: relative;
}
.newPasswordWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-8xs) 0;
}
.newPassword {
  position: absolute;
  top: 280px;
  left: 40px;
  width: 200px;
  height: 66px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--input-field-label);
}
