.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.backCom2Icon {
  position: absolute;
  top: 47px;
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.chestDay {
  position: absolute;
  top: 91px;
  left: 126px;
  text-decoration: underline;
}
.iconParkOutlineadd {
  position: absolute;
  top: 283px;
  left: 140px;
  width: 113px;
  height: 105px;
  cursor: pointer;
}
.barbellBenchChild {
  position: absolute;
  top: -2px;
  left: 32px;
  border-radius: var(--br-10xs);
  background-color: var(--color-slategray);
  border: 2px solid var(--black);
  box-sizing: border-box;
  width: 308px;
  height: 107px;
}
.barbellBench1 {
  position: absolute;
  top: 8px;
  left: 154px;
  display: inline-block;
  width: 141px;
  height: 23px;
}
.barbellBenchIcon {
  position: absolute;
  top: 8px;
  left: 44px;
  border-radius: var(--br-xl);
  width: 100px;
  height: 86px;
  object-fit: cover;
}
.mdigarbageCanOutlineIcon {
  position: absolute;
  top: 5px;
  left: 305px;
  border-radius: var(--br-xl);
  width: 29px;
  height: 29px;
  overflow: hidden;
  cursor: pointer;
}
.barbellBench {
  position: absolute;
  top: 168px;
  left: 11px;
  width: 372px;
  height: 131px;
  font-size: var(--font-size-xl);
}
.newWorkoutChild {
  position: absolute;
  top: 702px;
  left: 271px;
  border-radius: var(--br-8xs);
  background-color: var(--gray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 112px;
  height: 62px;
}
.finish,
.uileditIcon {
  position: absolute;
  cursor: pointer;
}
.finish {
  top: 714px;
  left: 282px;
  color: var(--black);
}
.uileditIcon {
  top: 91px;
  left: 306px;
  width: 47px;
  height: 45px;
}
.newWorkout {
  position: absolute;
  top: 86px;
  left: 523px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--body-1);
}
