.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.chestDay {
  position: absolute;
  top: 91px;
  left: 126px;
  text-decoration: underline;
}
.yourListAppears {
  position: absolute;
  top: 174px;
  left: 58px;
  font-size: var(--font-size-xl);
}
.iconParkOutlineadd {
  position: absolute;
  top: 220px;
  left: 135px;
  width: 113px;
  height: 105px;
  cursor: pointer;
}
.newWorkoutChild {
  position: absolute;
  top: 685px;
  left: 265px;
  border-radius: var(--br-8xs);
  background-color: var(--gray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 112px;
  height: 62px;
}
.finish {
  position: absolute;
  top: 697px;
  left: 276px;
  color: var(--black);
}
.backCom2Icon,
.uileditIcon {
  position: absolute;
  cursor: pointer;
}
.backCom2Icon {
  top: 47px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.uileditIcon {
  top: 91px;
  left: 306px;
  width: 47px;
  height: 45px;
}
.newWorkout {
  position: absolute;
  top: 86px;
  left: 523px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--body-1);
}
