.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.backCom2Icon,
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
}
.backCom2Icon {
  top: 47px;
  left: 19px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.set {
  position: relative;
}
.progresssScreen,
.setWrapper {
  position: absolute;
  box-sizing: border-box;
}
.setWrapper {
  top: 674px;
  left: 147px;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen);
  width: 95px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: var(--white);
}
.progresssScreen {
  top: 120px;
  left: 963px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
  font-family: var(--body-1);
}
