.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  color: var(--color-dimgray-100);
}
.pleaseSelectExercise {
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.exercises {
  flex: 1;
  position: relative;
}
.chevronIcon {
  position: relative;
  width: 10px;
  height: 10px;
}
.dropdownBox,
.inputdropdownactive {
  display: flex;
  justify-content: flex-start;
}
.dropdownBox {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--gray);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs);
  gap: var(--gap-3xs);
  font-size: var(--body-1-size);
  color: var(--gray);
}
.inputdropdownactive {
  position: absolute;
  top: 107px;
  left: 38px;
  width: 245px;
  height: 61px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--input-field-label-size);
  color: var(--black);
  font-family: var(--input-field-label);
}
.backCom2Icon {
  position: absolute;
  top: 47px;
  left: 19px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.goals {
  position: relative;
}
.goalsWrapper {
  position: absolute;
  top: 643px;
  left: 140px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 123px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-3xl);
}
.to,
.toGoal {
  position: absolute;
  top: 545px;
  left: 147px;
  font-size: var(--font-size-xl);
}
.to {
  top: 203px;
  left: 281px;
  font-size: var(--community-size);
  display: inline-block;
  width: 20px;
  height: 16px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.progresssScreen {
  position: absolute;
  top: 120px;
  left: 21px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--white);
  font-family: var(--body-1);
}
