.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.backCom2Icon {
  position: absolute;
  top: 47px;
  left: 19px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.progresssScreenChild {
  position: absolute;
  top: 280px;
  left: -16px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 425px;
  height: 117px;
  cursor: pointer;
}
.bicepCurl408 {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 310.3px;
  flex-shrink: 0;
  transform: rotate(0.05deg);
  transform-origin: 0 0;
}
.bicepCurl408Wrapper {
  position: absolute;
  top: 142px;
  left: -21px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 425px;
  height: 117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.setNewGoal {
  position: relative;
}
.progresssScreenItem,
.setNewGoalWrapper,
.weightedDips456Wrapper {
  position: absolute;
  left: -16px;
  border-radius: var(--br-xl);
  width: 425px;
  height: 117px;
  cursor: pointer;
}
.setNewGoalWrapper {
  top: 666px;
  background-color: var(--color-mediumseagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
}
.progresssScreenItem,
.weightedDips456Wrapper {
  background-color: var(--color-dodgerblue);
}
.weightedDips456Wrapper {
  top: 418px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
}
.progresssScreenItem {
  top: 555px;
}
.div {
  position: absolute;
  top: 220px;
  left: 159px;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen);
}
.benchPress2252 {
  position: absolute;
  top: 338px;
  left: 32px;
  display: flex;
  align-items: flex-end;
  width: 310.3px;
  transform: rotate(0.05deg);
  transform-origin: 0 0;
}
.div1,
.div2 {
  position: absolute;
  top: 366px;
  left: 160px;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen);
}
.div2 {
  top: 501px;
}
.backSquat2755 {
  position: absolute;
  top: 613px;
  left: 34px;
  display: flex;
  align-items: flex-end;
  width: 310.3px;
  transform: rotate(0.05deg);
  transform-origin: 0 0;
}
.div3 {
  position: absolute;
  top: 634px;
  left: 155px;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen);
}
.blankLine {
  margin: 0;
}
.editContainer,
.editFrame,
.editWrapper {
  border-radius: var(--br-xl);
  background-color: var(--color-darkkhaki);
  width: 76px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  cursor: pointer;
  font-size: var(--font-size-mid);
}
.editWrapper {
  position: absolute;
  top: 183px;
  left: 306px;
  box-sizing: border-box;
}
.editContainer,
.editFrame {
  left: 304px;
}
.editContainer {
  position: absolute;
  top: 321px;
  box-sizing: border-box;
}
.editFrame {
  top: 467px;
}
.editFrame,
.frameDiv,
.progresssScreen {
  position: absolute;
  box-sizing: border-box;
}
.frameDiv {
  top: 596px;
  left: 302px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkkhaki);
  width: 76px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  cursor: pointer;
  font-size: var(--font-size-mid);
}
.progresssScreen {
  top: 120px;
  left: 492px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--white);
  font-family: var(--body-1);
}
