.iosstatusBarblackIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 392px;
  height: 43.3px;
  overflow: hidden;
}
.community {
  position: absolute;
  top: 63px;
  left: 18px;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: flex;
  color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 16px;
}
.testworkoutChild {
  position: absolute;
  top: 90px;
  left: 310px;
  border-radius: 50%;
  background-color: var(--white);
  width: 45px;
  height: 45px;
}
.testworkoutItem {
  top: 104.5px;
  left: 331.5px;
  border-right: 1px solid var(--black);
  width: 1px;
  height: 17px;
}
.testworkout,
.testworkoutInner,
.testworkoutItem {
  position: absolute;
  box-sizing: border-box;
}
.testworkoutInner {
  top: 112.5px;
  left: 323.5px;
  border-top: 1px solid var(--black);
  width: 18px;
  height: 1px;
  cursor: pointer;
}
.testworkout {
  top: 85px;
  left: 523px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  width: 394px;
  height: 782.3px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--body-1);
}
