.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
  color: var(--color-dimgray-100);
}
.settingsScreenChild,
.user1234 {
  position: absolute;
  top: 73px;
  left: 36px;
}
.user1234 {
  top: 122px;
  left: 140px;
  font-size: var(--font-size-5xl);
}
.backCom2Icon,
.profilePicIcon {
  position: absolute;
  overflow: hidden;
}
.profilePicIcon {
  height: 5.99%;
  width: 12.98%;
  top: 6.92%;
  right: 43.51%;
  bottom: 87.09%;
  left: 43.51%;
  max-width: 100%;
  max-height: 100%;
}
.backCom2Icon {
  top: 47px;
  left: 19px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.username {
  position: relative;
}
.saveChangesWrapper,
.usernameWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.usernameWrapper {
  top: 202px;
  left: 40px;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-8xs) 0;
  font-family: var(--input-field-label);
}
.saveChangesWrapper {
  top: 463px;
  left: 43px;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 172px;
  height: 66px;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-3xl);
}
.homeIcon,
.vectorIcon {
  position: relative;
  width: 30px;
  height: 30px;
}
.homeIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon {
  cursor: pointer;
}
.settingsIcon,
.vectorIcon1,
.vectorIcon2 {
  position: relative;
  width: 28.9px;
  height: 30px;
}
.settingsIcon,
.vectorIcon2 {
  width: 30px;
}
.settingsIcon {
  width: 35.7px;
  height: 37.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.bottombar,
.settingsItem {
  background-color: var(--black);
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottombar {
  position: absolute;
  top: 783px;
  left: 1px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 392px;
  height: 69px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.account {
  position: absolute;
  top: 182px;
  left: 40px;
  font-size: var(--font-size-3xl);
  text-decoration: underline;
}
.settingsScreen {
  position: absolute;
  top: 86px;
  left: 547px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--body-1);
}
