.iosstatusBarblack1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 123.7px;
  height: 15.9px;
}
.iosstatusBarblack {
  position: absolute;
  top: -24px;
  left: -1px;
  width: 393px;
  height: 71px;
  font-size: var(--body-1-size);
}
.iconParkOutlineadd {
  position: absolute;
  top: 609px;
  left: 139px;
  width: 113px;
  height: 105px;
  cursor: pointer;
}
.myWorkouts {
  position: absolute;
  top: 105px;
  left: 98px;
  color: var(--white);
}
.backCom2Icon {
  position: absolute;
  top: 47px;
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.workoutScreenChild {
  position: absolute;
  top: 181px;
  left: 52px;
  border-radius: var(--br-8xs);
  background-color: var(--gray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 290px;
  height: 62px;
  cursor: pointer;
}
.chestDay {
  position: absolute;
  top: 193px;
  left: 123px;
  color: var(--black);
}
.uileditIcon {
  position: absolute;
  top: 102px;
  left: 317px;
  width: 47px;
  height: 45px;
  cursor: pointer;
}
.workoutScreen {
  position: absolute;
  top: 86px;
  left: 523px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 393px;
  height: 852px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-100);
  font-family: var(--body-1);
}
