.homeIcon {
  cursor: pointer;
}
.homeIcon,
.workoutexercisesIcon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.workoutItem {
  background-color: var(--black);
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: relative;
  width: 28.9px;
  height: 30px;
  cursor: pointer;
}
.vectorIcon1,
.vectorIcon2 {
  width: 30px;
}
.vectorIcon2 {
  width: 31.3px;
  height: 32.7px;
}
.bottombar {
  position: absolute;
  top: 869px;
  left: 523px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 393px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.image9Icon {
  position: absolute;
  top: 537px;
  left: 679px;
  width: 84px;
  height: 64px;
  object-fit: cover;
  cursor: pointer;
}
.backCom2Icon,
.chest {
  position: absolute;
  top: 518px;
  left: 698px;
}
.backCom2Icon {
  top: 133px;
  left: 542px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.chooseExerciseCategoryView {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--body-1);
}
