.backCom2Icon,
.homeScreen {
  position: absolute;
  overflow: hidden;
}
.homeScreen {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 1024px;
}
.backCom2Icon {
  top: 192px;
  left: 545px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.introLogScreen {
  position: relative;
  width: 100%;
  height: 1024px;
}
